astroid==2.11.2
binaryornot==0.4.4
black==22.3.0
chardet==4.0.0
click==8.1.0
dill==0.3.4
-e git+https://github.com/metwork-framework/envtpl.git@3504fb77060c076cad5f1a2a2c8b068fdbc777b9#egg=envtpl
flake8==4.0.1
isort==5.10.1
Jinja2==3.1.1
lazy-object-proxy==1.7.1
MarkupSafe==2.1.1
mccabe==0.6.1
mypy==0.942
mypy-extensions==0.4.3
pathspec==0.9.0
platformdirs==2.5.1
pycodestyle==2.8.0
pyflakes==2.4.0
pylint==2.13.3
tomli==2.0.1
typing_extensions==4.1.1
wrapt==1.14.0
